<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FakeStore | Your Cart</title>
  </head>
  <style>
    body {
      height: 100vh;
      padding: 2rem 4rem;
      display: flex;
      flex-flow: column;
    }
    main {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      align-self: flex-start;
      cursor: pointer;
      background-color: white;
      border: 1px solid black;
      color: black;
      padding: 0.5rem 2rem;
      transition: all 0.3s ease-in-out;
    }
    button:hover {
      background: #000;
      color: white;
    }
  </style>
  <body>
    <a href="/"><button>Back to Home</button></a>
    <main>
      <h1>Your cart is ready for checkout..</h1>
    </main>
  </body>
</html>
